

DJANGO_SECRET_KEY = str
DEBUG = bool
ALLOWED_HOSTS = "comma separated str without space"
USE_POSTGRES_DB = bool


# Local Database
DATABASE_NAME = str
DATABASE_USER = str
DATABASE_PASSWORD = str
DATABASE_HOST = str
DATABASE_PORT = int

